
<div class="text-white">

	<br>
	<div class="card">
		
		<div class="card-header bg-danger"><h2>Thank you for using Joe's BBQ Catering!</h2></div>

		
		<div class="card-body text-dark">

			<h2>Thank you for your business! </h2>

			<p> Your catering order will be available for pickup soon.</p>
			
		</div>

